



div{
				background:crimson;
				width: 1850px;
				height: 5000px;
				position: absolute;
		
				 }

			.A-1 {
				background:white;
				height:100px;
				width:10px;
				left: 50px;
				top: 80px;
				transform:skew(-35deg)

			}

			.A-2 {
				background:white;
				height:120px;
				width:20px;
				left: 120px;
				top: 50px;
				transform:skew(20deg)
				

			}


			.A-3 {
				background:black;
				height:60px;
				width:60px;
				left: 80px;
				top: 100px;
				border-radius: 50%;
			
			}

			.B-1 {
				background:white;
				height:120px;
				width:10px;
				left: 50px;
				top: 50px;
				transform:skew(-35deg)

			}

			.B-2 {
				background:black;
				height:60px;
				width:60px;
				left: 70px;
				top: 40px;
				border-radius:50%;

				}

			.B-3 {
				background:black;
				height:80px;
				width:80px;
				left: 40px;
				top:100px;
				border-radius:50%;

				}

			.C-1 {
				background:white;
				height:70px;
				width:20px;
				left: 45px;
				top: 35px;
				transform:skew(-50deg)
				
				}


			.C-2 {
				background:black;
				height:80px;
				width:16px;
				left: 50px;
				top: 100px;
				transform:skew(50deg)
				
				}


			.D-1 {
				background:white;
				height:110px;
				width:18px;
				left: 35px;
				top: 63px;
				transform:skew(-30deg)

			}

			.D-2 {
				background:black;
				height:110px;
				width:100px;
				left: 50px;
				top:63px;
				border-radius:50%;
				transform:skew(-30deg)


				}

			.D-3 {
				background:white;
				height:110px;
				width:5px;
				left: 70px;
				top: 63px;
				transform:skew(-30deg)

				}

			.E-1 {
				background:white;
				height:120px;
				width:20px;
				left: 50px;
				top: 55px;
				transform:skew(-35deg)

			}

			.E-2 {
				background:white;
				height:8px;
				width:100px;
				left: 70px;
				top: 50px;
				transform:skew(-35deg)

			}


			.E-3 {
				background:black;
				height:8px;
				width:100px;
				left: 45px;
				top: 155px;
				transform:skew(-35deg)

			}

			.E-4 {
				background:black;
				height:60px;
				width:60px;
				left: 80px;
				top: 85px;
				border-radius:50%;

				}

			.F-1 {
				background:white;
				height:110px;
				width:20px;
				left: 1000px;
				top: 55px;
				transform:skew(-35deg)

			}

			.F-2 {
				background:black;
				height:8px;
				width:80px;
				left: 1050px;
				top: 60px;
				transform:skew(-35deg)

			}

			.F-3 {
				background:black;
				height:65px;
				width:65px;
				left: 1020px;
				top: 105px;
				border-radius:50%;

				}

			.F-4 {
				background:white;
				height:110px;
				width:5px;
				left: 1035px;
				top: 60px;
				transform:skew(-35deg)

				}

			.G-1 {
				background:white;
				height:70px;
				width:30px;
				left: 1190px;
				top: 50px;
				transform:skew(-50deg)
				
				}


			.G-2 {
				background:black;
				height:70px;
				width:22px;
				left: 1205px;
				top: 113px;
				transform:skew(60deg)
				
				}

			.G-3 {
				background:black;
				height:70px;
				width:70px;
				left: 1230px;
				top:100px;
				border-radius:50%;

				}
			
			.G-4 {
				background:white;
				height:60px;
				width:5px;
				left: 1270px;
				top: 114px;

				
			}

			.H-1 {
				background:white;
				height:110px;
				width:10px;
				left: 1372px;
				top: 50px;
				transform:skew(-35deg)

			}

			.H-2 {
				background:black;
				height:110px;
				width:30px;
				left: 1443px;
				top: 50px;
				transform:skew(-35deg)

			}


			.H-3 {
				background:black;
				height:60px;
				width:60px;
				left: 1380px;
				top: 80px;
				border-radius: 50%;
			
			}


			.I-1 {
				background:white;
				height:120px;
				width:20px;
				left: 1580px;
				top: 57px;
				transform:skew(-35deg)

			}


			.I-2 {
				background:black;
				height:120px;
				width:5px;
				left: 1620px;
				top: 57px;
				transform:skew(-35deg)

				}


			.I-3 {
				background:black;
				height:40px;
				width:40px;
				left: 1610px;
				top: 100px;
				border-radius: 50%;
			
			}

			.J-1{
				background:white;
				height: 25px;
				width: 120px;
				transform: skew(-35deg);
				left:1740px;
				top: 40px;
			}

			.J-2 {
				background:black;
				height:100px;
				width:20px;
				left: 1790px;
				top: 50px;
				transform:skew(-35deg)

			}

			.J-3 {
				background:black;
				height:50px;
				width:50px;
				left: 1715px;
				top: 120px;
				border-radius: 50%;
			
			}

			.J-4 {
				background:white;
				height:100px;
				width:5px;
				left: 1780px;
				top: 40px;
				transform:skew(-35deg)

			}


			.K-1 {
				background:white;
				height:110px;
				width:25px;
				left: 1940px;
				top: 57px;
				transform:skew(-35deg)

			}

			.K-2 {
				background:black;
				height:70px;
				width:30px;
				left: 1990px;
				top: 66px;
				transform:skew(-50deg)
				
				}


			.K-3 {
				background:white;
				height:70px;
				width:12px;
				left: 2010px;
				top: 100px;
				transform:skew(55deg)
				
				}

			.K-4 {
				background:black;
				height:50px;
				width:50px;
				left: 1950px;
				top: 100px;
				border-radius: 50%;
			
			}

			.L-1 {
				background:white;
				height:110px;
				width:25px;
				left: 2130px;
				top: 57px;
				transform:skew(-35deg)

			}

			.L-2 {
				background:black;
				height:8px;
				width:100px;
				left: 2150px;
				top: 157px;
				transform:skew(-35deg)

			}

			.L-3 {
				background:white;
				height:110px;
				width:5px;
				left: 2170px;
				top: 57px;
				transform:skew(-35deg)

			}

			.M-1 {
				background:white;
				height:140px;
				width:25px;
				left: 55px;
				top: 223px;
				transform:skew(-30deg)
			}

			.M-2 {
				background:white;
				height:110px;
				width:8px;
				left: 82px;
				top: 253px;
				transform:skew(3deg);

			}

			.M-3 {
				background:black;
				height:40px;
				width:40px;
				left: 70px;
				top: 326px;
				border-radius: 50%;
			
			}
 			
 			.M-5 {
				background:white;
				height:90px;
				width:20px;
				left: 140px;
				top: 275px;
				transform:skew(-30deg)
			}

			.M-4 {
				background:black;
				height:70px;
				width: 5px;
				left: 125px;
				top: 283px;
				transform:skew(-35deg);

			}


			.N-1 {
				background:white;
				height:110px;
				width:20px;
				left: 240px;
				top: 250px;
				transform:skew(-30deg)
			}

			.N-2 {
				background:black;
				height:110px;
				width:5px;
				left: 275px;
				top: 250px;
				transform:skew(5deg);

			}

			.N-3 {
				background:white;
				height:110px;
				width:20px;
				left: 320px;
				top: 250px;
				transform:skew(-30deg)
			}

			.N-4 {
				background:black;
				height:40px;
				width:40px;
				left: 280px;
				top: 330px;
				border-radius: 50%;
			
			}

			.O-1 {
				background:black;
				height:120px;
				width:120px;
				left: 415px;
				top: 236px;
				border-radius: 50%;
				transform:skew(-30deg);
			
			}

			.O-2 {
				background:white;
				height:40px;
				width:40px;
				left: 450px;
				top: 280px;
				border-radius: 50%;
			
			}

			.O-3 {
				background:white;
				height:110px;
				width:7px;
				left: 457px;
				top: 230px;
				transform:skew(-45deg)
			
			}

			.O-4 {
				background:white;
				height:110px;
				width:16px;
				left: 477px;
				top: 230px;
				transform:skew(-45deg)
			
			}

			.P-1 {
				background:white;
				height:130px;
				width:25px;
				left: 628px;
				top: 230px;
				transform:skew(-35deg)

			}

			.P-3 {
				background:black;
				height:80px;
				width:80px;
				left: 668px;
				top:250px;
				border-radius:50%;

				}


			.P-2 {
				background:white;
				height:130px;
				width:5px;
				left: 668px;
				top: 230px;
				transform:skew(-35deg)

			}

			.Q-1 {
				background:black;
				height:120px;
				width:120px;
				left: 795px;
				top: 230px;
				border-radius: 50%;
				transform:skew(-35deg);
			
			}

			.Q-2 {
				background:white;
				height:70px;
				width:8px;
				left: 840px;
				top: 290px;
				transform:skew(50deg)
				
				}

			.Q-3 {
				background:white;
				height:70px;
				width:25px;
				left:860px;
				top:290px;
				transform:skew(50deg)
				
				}


			.R-1 {
				background:white;
				height:110px;
				width:25px;
				left: 1000px;
				top: 240px;
				transform:skew(-35deg)

			}

			.R-3 {
				background:black;
				height:70px;
				width:70px;
				left: 1050px;
				top:245px;
				border-radius:50%;

				}
			.R-2 {
				background:white;
				height:70px;
				width:8px;
				left: 1060px;
				top: 290px;
				transform:skew(50deg)
				
				}


			.S-3 {
				background:black;
				height:90px;
				width: 90px;
				left: 1220px;
				top: 215px;
				border-radius:50%;
				
				}

			.S-1 {
				background:black;
				height:45px;
				width:45px;
				left: 1160px;
				top: 325px;
				border-radius:50%;
				
				}

			.S-2 {
				background:white;
				height:130px;
				width:13px;
				left: 1220px;
				top: 225px;
				transform:skew(-30deg)

			}

			.S-4 {
				background:white;
				height:130px;
				width:5px;
				left: 1240px;
				top: 225px;
				transform:skew(-30deg)

			}

			.T-3{
				background:white;
				height: 25px;
				width: 120px;
				transform: skew(-35deg);
				left:1370px;
				top: 220px;
			}

			.T-2 {
				background:black;
				height:110px;
				width:5px;
				left: 1380px;
				top: 240px;
				transform:skew(-35deg)

			}

			.T-1 {
				background:black;
				height:110px;
				width:23px;
				left: 1395px;
				top: 240px;
				transform:skew(-35deg)

			}

			.U-1 {
				background:white;
				height:100px;
				width:7px;
				left: 1563px;
				top: 240px;
				transform:skew(-30deg)
			}

			.U-4 {
				background:white;
				height:100px;
				width:7px;
				left: 1583px;
				top: 240px;
				transform:skew(-30deg)
			}

			.U-2 {
				background:white;
				height:100px;
				width:20px;
				left: 1645px;
				top: 240px;
				transform:skew(-30deg)
			}

			.U-3 {
				background:black;
				height:50px;
				width:50px;
				left: 1560px;
				top: 316px;
				border-radius: 50%;
			
			}

			.V-1 {
				background:black;
				height:120px;
				width:20px;
				left: 1825px;
				top: 240px;
				transform:skew(-35deg)
			}

			.V-2 {
				background:white;
				height:100px;
				width:20px;
				left: 1745px;
				top: 240px;
				transform:skew(20deg)
			}

			.V-3 {
				background:black;
				height:120px;
				width:5px;
				left: 1805px;
				top: 240px;
				transform:skew(-35deg)
			}

			.W-1 {
				background:white;
				height:120px;
				width:20px;
				left: 2015px;
				top: 240px;
				transform:skew(-30deg)
			}

			.W-2 {
				background:white;
				height:80px;
				width:20px;
				left: 1965px;
				top: 250px;
				transform:skew(-30deg)
			}

			.W-3 {
				background:black;
				height:50px;
				width:20px;
				left: 1915px;
				top: 265px;
				transform:skew(-30deg)
			}

			.W-4 {
				background:black;
				height:120px;
				width:5px;
				left: 2000px;
				top: 240px;
				transform:skew(-30deg)
			}

			.X-1 {
				background:white;
				height:140px;
				width:25px;
				left: 2170px;
				top: 220px;
				transform:skew(-35deg)

			}

			.X-2 {
				background:black;
				height:120px;
				width:20px;
				left: 2150px;
				top: 240px;
				transform:skew(30deg)
				
				}

			.X-3 {
				background:white;
				height:120px;
				width:5px;
				left: 2140px;
				top: 240px;
				transform:skew(-35deg)

			}

			.Y-1 {
				background:white;
				height:120px;
				width:25px;
				left: 105px;
				top: 433px;
				transform:skew(-30deg)
			}

			.Y-2 {
				background:white;
				height:120px;
				width:5px;
				left: 85px;
				top: 433px;
				transform:skew(-30deg)
			}

			.Y-3 {
				background:black;
				height:60px;
				width:60px;
				left: 35px;
				top: 426px;
				border-radius: 50%;
			
			}


			.Z-1 {
				background:white;
				height:140px;
				width:20px;
				left: 285px;
				top: 403px;
				transform:skew(-30deg)
			}

			.Z-2 {
				background:white;
				height:140px;
				width:5px;
				left: 265px;
				top: 403px;
				transform:skew(-30deg)
			}

			.Z-3 {
				background:black;
				height:50px;
				width:50px;
				left: 225px;
				top: 396px;
				border-radius: 50%;
			
			}

			.Z-4 {
				background:black;
				height:50px;
				width:50px;
				left: 290px;
				top: 510px;
				border-radius: 50%;
			
			}

















