

div{
	position:absolute;
	left:200px;
	top:150px;
	width:1000px;

	}

h1{
		font-size: 50px;
		font-family:apercu;
	
	}

 	

body{
	font-family:apercu;
	color: black;
	background: springgreen;
	text-align: center;
	text-transform: uppercase;
	width: 200px;
	
}



}

p{
	position:center;
	font-size: 13px;

}