
body{
	background:black;
	background:black;
	font-family:Big Shoulders Display;

}

a { 
	text-decoration: none; 
	color: white; 
}



div{
	position:absolute;
	display:inline-block;
}

.left-side{
	width:350px;
	height:200px;
	transform:perspective(50px) rotateY(6deg);
	border: 3px;
	outline-style: solid;
	outline-color: #ff8d15;
	left:240px;
	top:530px;
	
}

.side-1{
	width:200px;
	height:150px;
	transform:perspective(100px) rotateX(60deg) rotateY(13deg);
	border: 1px;
	outline-style: double;
	outline-color: #0042ff;
	left:500px;
	top:1550px;
}

.side-6{
	width:180px;
	height:130px;
	transform:perspective(100px) rotateX(60deg) rotateY(13deg);
	border: 1px;
	outline-style: dotted;
	outline-color: #ff8d14;
	left:500px;
	top:1510px;
}


.side-2{
	width:410px;
	height:110px;
	transform:perspective(35px) rotateY(6deg);
	outline:1px;
	outline-style: dotted;
	outline-color: #e24c03;
	left:770px;
	top:780px;
}

.front{
	width:400px;
	height:315px;
	transform: perspective(400px);
	border: 1px;
	outline:9px;
	outline-style: double;
	outline-color: #001798;
	top:247px;
	left:440px;
}

.side-3{
	width:320px;
	height:130px;
	transform:perspective(80px) rotateX(-46deg);
	border: 1px;
	outline-style: double;
	outline-color:#fd5c26;
	left:500px;
	top:120px;
}

.side-4{
	width:80px;
	height:320px;
	border: 10px;
	outline: 8px;
	outline-style: outset;
	outline-color: #fb4e19;
	left:40px;
	top:450px;
}

.side-5{
	width:300px;
	height:200px;
	transform:perspective(50px) rotateY(6deg);
	border: 3px;
	outline: 2px;
	outline-style: dashed;
	outline-color: #312a56;
	left:150px;
	top:450px;
}


.right-side{
	width:350px;
	height:400px;
	transform:perspective(47px) rotateY(-6deg);
	outline:7px;
	outline-style: dashed;
	outline-color: #2236a2;
	left:770px;
	top:1130px;
	
}

.bottom{
	width:450px;
	height:300px;
	transform:perspective(400px) rotateX(65deg)rotateY(0.8deg);
	border: 1px;
	outline: 8px;
	outline-style: double;
	outline-color: #fb9f16;
	left:281px;
	top:847px;
	
}
.question{
	font-family:SF Pro Display;
	color:white;
	font-size:130px;
	left:580px;
	top:80px;

}

.intro{
	color:white;
	font-size:19px;
	text-align:center;
	width:230px;
	left:560px;
	top:100px;
	text-transform: uppercase;
	transform:perspective(80px) rotateX(-47deg);
	
}

.names{
	
	color:white;
	font-size:26px;
	width:200px;
	height:150px;
	transform:perspective(100px) rotateX(60deg) rotateY(13deg);
	left:520px;
	top:1480px;
	
}


.description{
	color:white;
	font-size:12px;
	text-align:left;
	width:270px;
	top: 560px;
    left: 300px;
    transform:perspective(50px) rotateY(9deg);


}

.description-right{
	color:white;
    left: 833px;
    transform:perspective(17px) rotateY(-3deg);
    text-align:right;
    width:250px;
    font-size:30px;
	top: 1160px;
}

.description-below{

	width:460px;
	height:120px;
	transform:perspective(35px) rotateY(2deg);
	left:780px;
	top:640px;
	font-size:15pt;
	color:white;
}

.daniels{
	color:white;
	font-size:16px;
	width:300px;
	height:200px;
	transform:perspective(400px) rotateX(65deg)rotateY(0.8deg);
	left:370px;
	top:920px;
	text-align:center;


}


.letter {

        		width:100px; /*resize as you see fit */
        		height:100px; /*resize as you see fit */
        		display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
        		border:4px double white; /*feel free to remove or hide this rule */
        		position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
        		left:140px;
        		top:1257px;
        	}
 .U-1 {
				background:white;
				height:55px;
				width:3px;
				left: 23px;
				top: 10px;
				transform:skew(-30deg)
			}

			.U-4 {
				background:white;
				height:50px;
				width:3px;
				left: 57px;
				top: 15px;
				transform:skew(-30deg)
			}

			.U-2 {
				background:white;
				height:60px;
				width:10px;
				left: 65px;
				top: 15px;
				transform:skew(-30deg)
			}

			.U-3 {
				background:#ff4b02;
				height:25px;
				width:25px;
				left: 15px;
				top: 60px;
				border-radius: 50%;
			
			}

		.O-1 {
				background:#ff4b02;
				height:65px;
				width:65px;
				left: 18px;
				top: 21px;
				border-radius: 50%;
				transform:skew(-30deg);
			
			}

			.O-2 {
				background:#ff4b02;
				height:30px;
				width:20px;
				left: 32px;
				top: 40px;
				border-radius: 50%;
			
			}

			.O-3 {
				background:white;
				height:65px;
				width:3px;
				left: 50px;
				top: 22px;
				transform:skew(-45deg)
			
			}

			.O-4 {
				background:white;
				height:65px;
				width:8px;
				left: 35px;
				top: 22px;
				transform:skew(-45deg)
			
			}

			.F-1 {
				background:#ff4b02;
				height:65px;
				width:10px;
				left: 25px;
				top: 23px;
				transform:skew(-35deg)

			}

			.F-2 {
				background:white;
				height:4px;
				width:50px;
				left: 45px;
				top: 18px;
				transform:skew(-35deg)

			}

			.F-3 {
				background:#ff4b02;
				height:32px;
				width:32px;
				left: 45px;
				top: 47px;
				border-radius:50%;

				}

			.F-4 {
				background:white;
				height:55px;
				width:3px;
				left: 40px;
				top: 28px;
				transform:skew(-35deg)

				}

			.T-3{
				background:white;
				height: 13px;
				width: 60px;
				transform: skew(-35deg);
				left:32px;
				top: 15px;
			}

			.T-2 {
				background:#130cff;
				height:57px;
				width:3px;
				left: 53px;
				top: 25px;
				transform:skew(-35deg)

			}

			.T-1 {
				background:#ff4b02;
				height:58px;
				width:12px;
				left: 35px;
				top: 25px;
				transform:skew(-35deg)

			}
  










